# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode

back/.venv

back/*.log
back/*.pot
back/*.pyc
back/__pycache__/
back/local_settings.py
back/db.sqlite3
back/db.sqlite3-journal
back/media
